<template>
	   
    <!--<nav class="navbar navbar-dark bg-danger">
      <div class="nav navbar-nav ">
        <a class="navbar-brand center" v-link="'home'">Kenya News Feed</a>
      </div>
    </nav>-->

    <div class="col-md-12 center bg-danger">
      <h3>
          Kenya News Feed
      </h3>
    </div>  

    <div class="container content">
    <!-- start main section	 -->
	      <div class="row">

	      		<router-view></router-view>

	      </div>
      <!-- end main section -->
    </div>

</template>

<script type="text/javascript">
  export default{
    ready: function(){

    }
  }
</script>