<template>

	<div class="card-columns">
    <div class="" v-for="post in posts">
              
           
                  <!-- <div class="card  light-blue ">
                    <div class="card-content white-text">
                      <span class="card-title">{{{post.title}}}</span>
                      <p class="article-link">{{post.source}}</p>
                      <p>{{{post.content}}}</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
   -->
                  <a target="_blank" class="nostyle" href="{{post.link}}">
                    <div class="card card-block card-inverse"
                    v-bind:class="classObject[Math.floor(Math.random() * classObject.length)]">
                      <h4 class="card-title">{{{post.title}}}</h4>
                      <p class="card-text">{{{post.content}}}</p>
                      <p class="card-text">{{post.source}}</p>
                    </div>
                  </a>

      </div>
    </div>



      <!-- start pagination -->
          <div class="row">
          <nav>
            <ul class="pager">
              <li class="pager-prev" v-on:click="gLoadPrevious()"><a v-link="'ghafla'">Previous</a></li>
              <li class="pager-next" v-on:click="gLoadNext()"><a v-link="'ghafla'">Next</a></li>
            </ul>
          </nav>
        </div> 
       <!-- end pagination -->
</template>

<script type="text/javascript">
  var page =1;
	export default{
		data() {
        return {posts: [], my_transition: '', classObject: ['card-danger', 'card-primary', 'card-success', 'card-info', 'card-warning']
      }
    },

  ready: function(){
    //this.fetchPosts();
    setInterval( this.fetchPosts(), 2*60*1000);

  },

  methods: {
      fetchPosts: function(){
        this.$http.get('/ghafla/' + page).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      },
      gLoadPrevious: function(){
        if(page > 1)
        {
          this.$http.get('/ghafla/' + (page-=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
        }
        document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
      gLoadNext: function(){
        this.$http.get('/ghafla/' + (page+=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
          document.body.scrollTop = document.documentElement.scrollTop = 0;
      }
  }
}
</script>