<style scoped>
  /* always present */
.expand-transition {
  transition: all 2s ease;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}
</style>

<template>
 
  <div class="row">
   <div class="col-md-3"> </div> 
  <div class="col-md-6">
  	<div class="" v-for="post in posts">
                  <a target="_blank" class="nostyle" href="{{post.link}}">
                  <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">{{{post.title}}}</h4>
                        <h6 class="card-subtitle text-muted">{{post.source}}</h6>
                      </div>
                        <div v-if = "post.img != 0">
                          <img class="card-img-top img-fluid resize" v-bind:src="post.img" alt="Card image cap">
                        </div>
                        <div class="card-block">
                          
                          <p class="card-text">{{{post.content}}}</p>
                          <!-- <p class="card-text">{{post.source}}</p> -->
                        </div>
                    </div>
                  </a>
</div>

</div>
</div>
</template>

<script type="text/javascript">
  var page =1;
  export default{
    data() {
        return {posts: [], my_transition: '', classObject: ['card-danger', 'card-primary', 'card-success', 'card-info', 'card-warning'], nairobiwire: [],  niaje: []
      }
    },

  ready: function(){
    //this.fetchPosts();
    setInterval( this.fetchPosts(), 2*60*1000);
    this.fetchNiaje();
    this.fetchNairobiWire();

  },

  methods: {
      fetchPosts: function(){
        this.$http.get('/tangaza/posts').then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      },
      loadPrevious: function(){
        if(page > 1)
        {
          this.$http.get('/tangaza/posts/' + (page-=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
        }
        document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
      loadNext: function(){
        this.$http.get('/tangaza/posts/' + (page+=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
          document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
      fetchNairobiWire: function(){
        this.$http.get('/tangaza/nairobiwire/' + 1).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('nairobiwire', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      },
      fetchNiaje: function(){
        this.$http.get('/tangaza/niaje/' + 1).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('niaje', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      }
  }
}
</script>