<template>

  <div class="row">
  <div class="col-md-7">
    <div class="" v-for="post in posts">

                  <a target="_blank" class="nostyle" href="{{post.link}}">
                  <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">{{{post.title}}}</h4>
                              <h6 class="card-subtitle text-muted">{{post.source}}</h6>
                          </div>
                        <div v-if = "post.img != 0">
                          <img class="card-img-top img-fluid" v-bind:src="post.img" alt="Card image cap">
                        </div>
                        <div class="card-block">
                          
                          <p class="card-text">{{{post.content}}}</p>
                          <!-- <p class="card-text">{{post.source}}</p> -->
                        </div>
                    </div>
                  </a>
</div>

</div>

  <div class="col-md-4">
      <div class="card">
        <a v-link="'nairobiwire'" class="nostyle">
          <div class="card-block">
              <h4 class="card-title">Nairobiwire</h4>
              <h6 class="card-subtitle text-muted">Top stories on Nairobiwire</h6>
          </div>
        </a>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for="post in nairobiwire | limitBy 10">
                <a target="_blank" class="nostyle" href="{{post.link}}">{{{post.title}}}</a>
              </li>
            </ul>
      </div>




  </div>
  </div>
      <!-- start pagination -->
     <div class="row">
          <nav>
            <ul class="pager">
              <li class="pager-prev pull-left" v-on:click="niajeLoadPrevious()"><a v-link="'niaje'">Previous</a></li>
              <li class="pager-next pull-right" v-on:click="niajeLoadNext()"><a v-link="'niaje'">Next</a></li>
            </ul>
          </nav>
      </div> 
       <!-- end pagination -->
</template>

<script type="text/javascript">
  var page =1;
  export default{
    data() {
        return {posts: [], my_transition: '', classObject: ['card-danger', 'card-primary', 'card-success', 'card-info', 'card-warning'], nairobiwire: [],  niaje: []
      }
    },

  ready: function(){
    //this.fetchPosts();
    setInterval( this.fetchPosts(), 2*60*1000);
    this.fetchNiaje();
    this.fetchNairobiWire();
  },

  methods: {
      fetchPosts: function(){
        this.$http.get('/niaje/' + page).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      },
      niajeLoadPrevious: function(){
        if(page > 1)
        {
          this.$http.get('/niaje/' + (page-=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
        }
        document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
      niajeLoadNext: function(){
        this.$http.get('/niaje/' + (page+=1)).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('posts', posts.data);
          }).catch(function(error) {
            console.log(error);
          });
          document.body.scrollTop = document.documentElement.scrollTop = 0;
      },
      fetchNairobiWire: function(){
        this.$http.get('/nairobiwire/' + 1).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('nairobiwire', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      },
      fetchNiaje: function(){
        this.$http.get('/niaje/' + 1).then(function(posts) {
          console.log(posts.data.length);
        //  var parsedData = JSON.parse(posts.data);

          this.$set('niaje', posts.data);
          }).catch(function(error) {
            console.log(error);
          });

      }

  }
}
</script>